.container  {
    display: flex;
    flex-direction: column;
    position: relative;
}

input {
    border: 1px solid #0d3843;
    padding: 0.5rem;
    width: 300px;
    z-index: 2;
    text-align: center;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: bold;
    height: 1rem;
  }
  
.noSuggestions > p{
    color: #0d3843;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
    margin: 0;
}

.suggestions {
    border: 1px solid #ffffff;
    border-top-width: 0;
    list-style: none;
    margin-top: 2rem;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
    z-index: 2;
    text-align: center;
    background-color: #2A2B2A;
    color: white;
    position: absolute;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestionActive, .suggestions li:hover {
    background-color: #1D70A2;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

@media only screen and (max-width: 600px)   {
    input {
        width: 200px;
    }
    .suggestions {
        width: calc(200px + 1rem);
    }
    .suggestions li {
        font-size: 15px;
        word-break: break-all;
    };
    .noSuggestions  {
        font-size: 0.75rem;
    }
}