.hourCircleSvg, .minuteCircleSvg, .secondCircleSvg {
    width: 15rem;
    height: 15rem;
    transform: rotate(-90deg);
    position: absolute;
}

.homeHourCircleSvg, .homeMinuteCircleSvg, .homeSecondCircleSvg {
    transform: rotate(-90deg);
    position: absolute;
    opacity: 0.6;
}

.choiceHourCircleSvg, .choiceMinuteCircleSvg, .choiceSecondCircleSvg {
    transform: rotate(-90deg);
    position: absolute;
    opacity: 0.6;
}
